name: mac x86-64 build

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-macos-latest:
    runs-on: macos-15-intel

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Install dependencies
      run: |
        brew update
        brew install pkg-config autoconf automake libtool glib libusb macfuse libimobiledevice dylibbundler

    - name: Prepare environment
      run: echo "target_triplet=$(uname -m)-apple-darwin" >> $GITHUB_ENV

    - name: Autogen
      run: |
        export PKG_CONFIG_PATH=/usr/local/lib/pkgconfig:$PKG_CONFIG_PATH
        #export CFLAGS="-I/opt/homebrew/include $CFLAGS"
        #export LDFLAGS="-L/opt/homebrew/lib $LDFLAGS"
        export CFLAGS="-I/usr/local/include $CFLAGS"
        export LDFLAGS="-L/usr/local/lib $LDFLAGS"
        ./autogen.sh

    - name: Build
      run: make -j$(sysctl -n hw.ncpu)

    - name: Stage install
      run: make DESTDIR=$PWD/stage install

    - name: Bundle binary and dependencies
      run: |
          mkdir -p bundle/bin
          mkdir -p bundle/lib
          
          cp stage/usr/local/bin/ifuse bundle/bin/
          
          export DYLD_LIBRARY_PATH=/usr/local/lib:$DYLD_LIBRARY_PATH

          dylibbundler \
            -od \
            -b \
            -x bundle/bin/ifuse \
            -d bundle/lib \
            -p @executable_path/../lib

    - name: Verify linkage
      run: |
        echo "Checking linked libraries..."
        otool -L bundle/bin/ifuse
        
    - name: Deep verify dylibs
      run: |
        for lib in bundle/lib/*.dylib; do
          echo "Checking $lib"
          otool -L "$lib"
        done
    
    - name: Create DMG
      run: |
        hdiutil create \
            -volname ifuse \
            -srcfolder bundle \
            -ov \
            -format UDZO \
            ifuse-macos-${{ env.target_triplet }}.dmg

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
          name: ifuse-macos-${{ env.target_triplet }}
          path: ifuse-macos-${{ env.target_triplet }}.dmg
